# Python for machine learning
### Basic Operation

### Adition

In [1]:
2+3

5

### Subtraction

In [ ]:
# 6-2
'''
This code make sumission for two numbers
'''

'\nThis code make sumission for two numbers\n'

In [3]:
# Division
6/3

2.0

In [4]:
# Multiblication
6*3

18

In [ ]:
7%3
# Remeinder

1

In [ ]:
2**3
# Roots

8

In [8]:
# order of operation followed in python
2+10*10+3

105

In [9]:
# can use parenentheses to specify orders
(2+3)*(6-4)

10

In [10]:
x = 5
type(x)

int

In [11]:
y = "Mina" 
type(y)

str

In [12]:
z = True
type(z)

bool

### Complex Function

In [13]:
type(5+6j)

complex

## Print Statetment

In [14]:
print(x)
7+9

5

16

### Other print examples

In [16]:
x = 10
x = 20
print("This is the last Number of X:", x)

This is the last Number of X: 20

In [17]:
print("Math operation")
print("===========================")
print(5 * 2)
print(y)

Math operation
===========================
10
Mina

#### How to

In [20]:
''' 
multiple
comments
line '''

print("Hello", end=" ")
print("world",end=" ")
print("Mina", end="")
print("!!!!", end= "")

Hello world Mina!!!!

In [27]:
name = "Mina"
Age = 35

In [29]:
Age = Age +1 ######It's the same as Age +=1 
Age += 1
print(Age)

38

In [30]:
# assign a single value to several variables
a = b = c = 10
print(b)

10

In [31]:
# assign multipule objects to multiplevariables
a, b, c = 1, 2, "Ali"
print(c)

Ali

## Multiple line statements & one line statements

In [32]:
message = "This is a long messag that needs to b" \
        " broken into multiple lines for readability."
message

'This is a long messag that needs to b broken into multiple lines for readability.'

In [33]:
result = ( 2 + 3 + 5 +
          4 * 6)
result

34

##### One line Statements

In [34]:
x = 10; y=20; z = x+y
name = "jone"; age= 30; city = "New York"

#### Creating a string

###### To create a string in Python you need to use either single qutes or douple quotetion

In [1]:
# Be carful with quotes!
'Do not use single quote insteade'
''' " Triple Quotations" '''

' " Triple Quotations" '

In [2]:
x = "hello world"
len(x)

11

In [ ]:
x[0]

'h'

In [11]:
x[-5]

'w'

#### we can use a : to perform slicing which grabs everything up to a designated point. For example:

In [16]:
x[5:]

' world'

In [14]:
x[:]

'hello world'

In [15]:
x[:5]

'hello'

In [17]:
s = [1,2,3,4,5,6,7,8,9,10]
s
s
s

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Number of steps
s[::3]

[1, 4, 7, 10]

In [19]:
s[::2]

[1, 3, 5, 7, 9]

In [27]:
name = "amit learning"
print(name.upper())
print(name.title())
print(name.swapcase())
print(name.split())

AMIT LEARNING
Amit Learning
AMIT LEARNING
['amit', 'learning']

In [21]:
name_2 = "AMIT LEARNING"
print(name.lower())

amit learning

In [ ]:
name_2 = "AMIT LEARNING"
print(name_2.replace("AMIT","HELLO"))
print(name_2.capitalize())

HELLO LEARNING
Amit learning

In [32]:
words = ["this", "is", "a", "sentance"]
sentence =  join(words)
print(sentence)

NameError: name 'join' is not defined

In [33]:
My_string = "0123456789"
print(My_string[-2:-6:-2])

86

In [38]:
n = input("please inter your email")
username = n[:5]

In [39]:
username = n[:5]

In [40]:
username

'menan'